:root{
    --dark_purple: #10002B;
    --medium_purple: #240046;
    --bright_purple: #E0AAFF;
    --red: white;
    --gold: #00ca3d;
    --yellow: #95ff00;
    --blue: #00ccff;
    --purple-transperant: #240046a1;
}

html {
    background-color: var(--dark_purple);
    height: 100%;
    /* width: 100%; */
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: var(--bright_purple);
}
body {
    height: 100%;
    /* width: 100%; */
    margin: 0;
    /* position: absolute; */
}
ul button{
    /* background-color: var(--yellow); */
    border: 0px;
    color: var(--bright_purple);
    cursor: pointer;
    padding: 1%;
    font-weight: bold;
}
ul{
    margin: 0%;
}
ul button:nth-of-type(1){
    background-color: var(--yellow);
    color: var(--dark_purple);
    /* border: 1px solid var(--dark_purple); */
}
ul button:nth-of-type(2){
    background-color: var(--medium_purple);
    color: var(--blue);
    /* border: 1px solid var(--gold); */
}
li{
    display: inline-block;
    list-style: none;
}
li a{
    color: var(--bright_purple);
    
}
ul li{
    font-size: 12px;
    
}
hr{
    border-color: var(--purple-transperant);
    width: 90%;
    margin: 0%;
}

.navbar-container{
    width: 98%;
    height: 10%;
    background-color: var(--medium_purple);
    margin: 0px;
    padding: 1%;
    border-bottom: 2.5px solid var(--yellow);
}
.logo-container img {
    width: 22%;
    height: 100%;
    display: inline-block;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Products page */
.products-page-container{
    width: 100%;
    height: 100%;
    /* position: absolute; */
}
.products-container{
    width: 80%;
    height: 100%;
    margin: 1%;
    padding: 1%;
    float: right;
    /* background-color: var(--medium_purple); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.category-wrapper{
    position: absolute;
    width: 15%;
    height: 100%;
    margin-left: 1%;
    padding-top: 0.5%;
    border-right: 1px solid var(--yellow);
    background-color: var(--medium_purple);
}
.product-container{
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--medium_purple);
    border-bottom: 1px solid var(--blue);
    /* align-items: center; */
    
}
.product-container p:first-child{
    display: inline;
    order: 1;
    width: 5%;
}
.image-wrapper{
    width: 50%;
    height: 80%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.button-image-wrapper{
    position: absolute;
    width: 7%;
    height: 2.5%;
    left: 1%;
}
.button-image-wrapper img{
    width: 100%;
    height: 100%;
}
.image-wrapper img{
    width: 70%;
    height: 70%;
}
.image-wrapper img+p{
    display: inline-block;
    order: 1;
    text-align: center;
    margin-bottom: 0%;
}
.image-wrapper p+p{
    order: 2;
    text-align: center;
    display: inline-block;
    margin: 2%;
    background-color: var(--dark_purple);
    padding: 2px;
}
.image-wrapper button{
    order: 3;
    height: 100%;
    width: 100%;
    background-color: var(--gold);
    border: 0px;
    color: var(--red);
    font-weight: bold;
    cursor: pointer;
}
.cover-image-wrapper{
    width: 100%;
    height: 90%;
    position: relative;
}
.cover-image-wrapper img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.landing-page-text-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--purple-transperant);
    padding: 0.5%;
    padding-top: 0%;
    padding-bottom: 0%;

}
.landing-page-text-container:nth-of-type(2) {
    top: 40%;
}
.landing-page-text-container:nth-of-type(3) {
    top: 60%;
    cursor: pointer;
    background-color: var(--gold);
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0.5%;
    border: 1px solid var(--medium_purple);
}
.landing-page-text-container h4{
    display: inline;
}
.landing-page-text-container a {
    color: var(--dark_purple);
    outline: none;
}
/* Scroll Wheel */
body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--gold);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--blue);    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border: 3px solid var(--dark_purple);  /* creates padding around scroll thumb */
  }